header {
	background-color: #333;
	color: white;
	padding: 20px;
	text-align: center;
	margin-bottom: 10px;
	border-bottom: black solid 3px;
}

li {
	list-style-type: none;
	padding-top: 15px;
}

#weather-stage {
	border: 1px solid lightgray;
}

/* #search-button {
	height: 100%;
} */
